# NOTE: You need to change three values here to connect Prisma to PostgreSQL in your local environment
# USER_DB
# YOUR_PASSWORD
# DB_NAME
DATABASE_URL="postgresql://USER_DB:YOUR_PASSWORD@localhost:5432/DB_NAME"